extends ../layouts/default

block js
    script(src="/js/report.js")

block append variables 
    - var currentPage = "report";

block content
    .container
        if method == "POST"
            h1 submitted
            p=res
            //- if body&&body.hasError
            //-     h1 Error
            //-     p.lead=body.errorMsg
                
            //- else if !nums || !body
            //-     h1 Error
            //-     p.lead An unexpected error has occured.
            //- else
            //-     h1 Result
            //-     p=nums

        else
            .row
                form.col-12.col-lg-6#reportForm(method='post')
                    input(type='hidden', name='completed', value=false)
                    h2 Did you complete the task?
                    //- <h1>404</h1>
                    .submitButtons
                        button.yesButton.btn(type="button" onclick="submitForm(true)") Yes
                        button.noButton.btn(type="button" onclick="submitForm(false)") No
                .col-12.col-lg-6
					.card
						.card-header
							.progress
								.progress-bar(role="progressbar" style="width:"+task.completed/task.max aria-valuenow=task.completed aria-valuemin="0" aria-valuemax=task.max)
						img.card-image-top(src="/images/tasks/img"+task.templateId+".jpeg").w-100
						.card-body
							.card-text
								h4.taskDesc=task.description

								.info-group
									i.fas.fa-angle-double-down.fa-lg
									img(src="/images/carbonFootprint.png" width="20")
									p=task.carbonSavings

								.info-group
									i.fas.fa-angle-double-down.fa-lg
									i.fas.fa-trash.fa-lg
									p=task.wasteSavings