extends ../layouts/default

block js
    script(src="/js/report.js")

block append variables 
    - var currentPage = "report";

block content

    if method == "POST"
        .wrap
            img#login-bg(src="/images/login-bg.jpeg")
            #middleWhite
                .container
                    br
                    div.text-center
                        img(src="/images/star.png" width="200")
                        br
                        br
                        p.text-center Congratulations! You are saving the planet!
                    div
                        a.yesButton.btn(type="button" href="/tasks") Back to dashboard
                        br
                    br

    else
        .container
            .row
                form.col-12.col-lg-6.col-xl-8#reportForm(method='post')
                    input(type='hidden', name='completed', value=false)
                    h2 Did you complete the task?
                    //- <h1>404</h1>
                    .submitButtons
                        button.yesButton.btn(type="button" onclick="submitForm(true)") Yes
                        button.noButton.btn(type="button" onclick="submitForm(false)") No
                .col-12.col-lg-6.col-xl-4
                    .card
                        .card-header
                            .progress
                                .progress-bar(role="progressbar" style="width:"+(task.completed/task.max*100)+"%"  aria-valuenow=task.completed aria-valuemin="0" aria-valuemax=task.max)
                                .progress-bar.progress-bar-blue(role="progressbar" style="width:"+(1/task.max*100)+"%" aria-valuenow=1 aria-valuemin="0" aria-valuemax=task.max)
                        img.card-image-top(src="/images/tasks/img"+task.templateId+".jpeg").w-100
                        .card-body
                            .card-text
                                h4.taskDesc=task.description

                                .info-group
                                    i.fas.fa-angle-double-down.fa-lg
                                    img(src="/images/carbonFootprint.png" width="20")
                                    h4=task.carbonSavings.toFixed(2) + " kg"

                                .info-group
                                    i.fas.fa-angle-double-down.fa-lg
                                    i.fas.fa-trash.fa-lg
                                    h4=task.wasteSavings.toFixed(2) + " kg"

                                .info-group
                                    img(src="/images/star.png" width="20")
                                    h4="+" + task.points