extends ../layouts/default

block js

block append variables 
	- var currentPage = "tasks";

block content

	.container
		h2.mt-5 Current Tasks
		.row.cards-row
			each task in tasks 
				.col-12.col-md-6.col-xl-4.my-4.cards-col
					.card
						.card-header
							.progress
								.progress-bar(role="progressbar" style="width:"+task.completed/task.max aria-valuenow=task.completed aria-valuemin="0" aria-valuemax=task.max)
						img.card-image-top(src="/images/tasks/img"+task.templateId+".jpeg").w-100
						.card-body
							.card-text
								h4.taskDesc=task.description

								.info-group
									i.fas.fa-angle-double-down.fa-lg
									img(src="/images/carbonFootprint.png" width="20")
									p=task.carbonSavings

								.info-group
									i.fas.fa-angle-double-down.fa-lg
									i.fas.fa-trash.fa-lg
									p=task.wasteSavings

								br
								a(href="/tasks/"+task.id) Click to report progress
			
							